beforemake ads/n8n-workflows/daily-update.json
{
    "name": "Football Matches Daily Update",
    "nodes": [
        {
            "parameters": {},
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "schedule-daily",
            "webhookId": "",
            "credentials": {},
            "notes": "يعمل يومياً الساعة 02:00 صباحاً"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://v3.football.api-sports.io/fixtures",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-apisports-key",
                            "value": "YOUR_API_KEY_HERE"
                        }
                    ]
                },
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "date",
                            "value": "={{ new Date().toISOString().slice(0,10) }}"
                        }
                    ]
                }
            },
            "name": "Fetch Today Matches",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "id": "fetch-matches",
            "notes": "جلب مباريات اليوم من API-Football"
        },
        {
            "parameters": {
                "jsCode": "const fixtures = items[0].json.response;\n\nconst matches = fixtures.map(f => ({\n  id: f.fixture.id,\n  date: f.fixture.date,\n  timestamp: f.fixture.timestamp,\n  status: f.fixture.status.short,\n  league: {\n    name: f.league.name,\n    country: f.league.country,\n    logo: f.league.logo\n  },\n  home: {\n    name: f.teams.home.name,\n    logo: f.teams.home.logo\n  },\n  away: {\n    name: f.teams.away.name,\n    logo: f.teams.away.logo\n  }\n}));\n\nreturn [\n  {\n    json: {\n      generated_at: new Date().toISOString(),\n      count: matches.length,\n      matches\n    }\n  }\n];"
            },
            "name": "Transform Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "transform-data",
            "notes": "تحويل البيانات إلى JSON نظيف"
        },
        {
            "parameters": {
                "operation": "write",
                "fileName": "matches.json",
                "fileContent": "={{ JSON.stringify($json, null, 2) }}",
                "options": {}
            },
            "name": "Save to File",
            "type": "n8n-nodes-base.writeFile",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "save-file",
            "notes": "حفظ الملف محلياً (للاختبار)"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO/contents/public/data/matches.json",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "token YOUR_GITHUB_TOKEN"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.github.v3+json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message",
                            "value": "Update matches.json - {{ new Date().toISOString() }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ Buffer.from(JSON.stringify($json, null, 2)).toString('base64') }}"
                        },
                        {
                            "name": "sha",
                            "value": "={{ $node['Get Current SHA'].json.sha }}"
                        }
                    ]
                }
            },
            "name": "Upload to GitHub",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1050,
                300
            ],
            "id": "upload-github",
            "notes": "رفع الملف إلى GitHub (سيتم نشره تلقائياً على Cloudflare Pages)"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO/contents/public/data/matches.json",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "token YOUR_GITHUB_TOKEN"
                        }
                    ]
                }
            },
            "name": "Get Current SHA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                850,
                450
            ],
            "id": "get-sha",
            "notes": "الحصول على SHA الحالي للملف (مطلوب للتحديث)"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Today Matches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Today Matches": {
            "main": [
                [
                    {
                        "node": "Transform Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Data": {
            "main": [
                [
                    {
                        "node": "Save to File",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Current SHA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Current SHA": {
            "main": [
                [
                    {
                        "node": "Upload to GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {},
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-01-22T13:00:00.000Z",
    "versionId": ""
}